<!DOCTYPE html>
<head>
     <title>Learning AngularJS</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
     <script src="app.js" type="text/javascript"></script>
     <script src="mainController.js" type="text/javascript"></script>
</head>
<body>
	<div id='content' ng-app='firstAttemptApp' ng-controller='MainController'>
		
		<div ng-show="username">
			{{mensaje}}
		</div>
		<br/>

		<input type="text" name="username" ng-model="username" placeholder="username"/>
		{{username}}

		<br/>

		<button type="button" ng-click='submit()'>Submit</button>
	
	</div>

</body>
</html>